In [1]:
# Dependencies
import gmaps
import pandas as pd
import requests
import json
gkey = "AIzaSyAogPTTxi8lo9vSkZT9KD1a6g0xW4fOW7c"

In [2]:
school_df = pd.read_csv('SchoolData.csv')
school_df.dropna
school_df.head()

,School Name,# of students,Graduation Rate,Dropout rate,Absenteeism 10% or above,Funding per student,Title I,Total funding per student per state
0,Armstrong,849,0.770,0.184,0.540,14508,1.00,12548
1,Huguenot,1286,0.681,0.309,0.245,14508,0.67,12548
2,Thomas Jefferson,734,0.899,0.095,0.180,14508,1.00,12548
3,George Wythe,1121,0.756,0.203,0.466,14508,1.00,12548
4,John Marshall,667,0.918,0.079,0.349,14508,0.68,12548

In [3]:
# set up additional columns to hold information
#school_df['Lat'] = ""
#school_df['Lng'] = ""

for index, row in school_df.iterrows():
    
    school_fullname = row['School Name']+" High School, Virginia"
    params = {"address": school_fullname, "key": gkey}
    print(school_fullname)
    
    # Build URL using the Google Maps API
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    # Run request
    response = requests.get(base_url, params=params)

    # Convert to JSON
    school_geo = response.json()

    # Extract lat/lng
    school_df.loc[index, 'lat'] = school_geo["results"][0]["geometry"]["location"]["lat"]
    school_df.loc[index, 'lng'] = school_geo["results"][0]["geometry"]["location"]["lng"]
school_df.head()

Armstrong  High School, Virginia
Huguenot  High School, Virginia
Thomas Jefferson  High School, Virginia
George Wythe  High School, Virginia
John Marshall  High School, Virginia
Open  High School, Virginia
Deep Run  High School, Virginia
Douglas S. Freeman  High School, Virginia
Glen Allen  High School, Virginia
Henrico   High School, Virginia
Hermitage  High School, Virginia
Highland Springs  High School, Virginia
John Randolph Tucker  High School, Virginia
Mills E. Godwin  High School, Virginia
Varina  High School, Virginia
Atlee  High School, Virginia
Hanover  High School, Virginia
Lee Davis  High School, Virginia
Patrick Henry  High School, Virginia

,School Name,# of students,Graduation Rate,Dropout rate,Absenteeism 10% or above,Funding per student,Title I,Total funding per student per state,lat,lng
0,Armstrong,849,0.770,0.184,0.540,14508,1.00,12548,37.552491,-77.403878
1,Huguenot,1286,0.681,0.309,0.245,14508,0.67,12548,37.531693,-77.540908
2,Thomas Jefferson,734,0.899,0.095,0.180,14508,1.00,12548,38.818512,-77.168753
3,George Wythe,1121,0.756,0.203,0.466,14508,1.00,12548,37.510214,-77.483051
4,John Marshall,667,0.918,0.079,0.349,14508,0.68,12548,37.594235,-77.446185

In [16]:
gmaps.configure(api_key=gkey)
locations = school_df[["lat", "lng"]]

# Convert Poverty Rate to float and store
graduation_rate = school_df["Graduation Rate"].astype(float)

In [15]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=graduation_rate)
#,                                  dissipating=False, max_intensity=1,
#                                 point_radius=.1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
Absenteeism_Perc = school_df["Absenteeism 10% or above"].tolist()

In [21]:
# Create Absenteeism layer
Absenteeism_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Absenteeism: {x}" for x in Absenteeism_Perc]
)


fig = gmaps.figure()
fig.add_layer(Absenteeism_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Create a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(Absenteeism_layer)

fig

Figure(layout=FigureLayout(height='420px'))